<div id="playerData">
  <div class="row" style="margin-top: 25px;">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
            <input type="text" 
                class="form-control" 
                #name 
                align="center"
                placeholder="Search by player name"
                (keyup.enter)="searchPlayer(name.value)">
        </div>

</div>

<div id="datatable">
  
  <ngx-datatable
    #mydatatable
    class="material"
    [headerHeight]="50"
    [limit]="5"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows">
    <ngx-datatable-column name="Plyer Id">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-row="row">
        <span>
          {{row.pid}}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Name">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
        <span>
          {{row.name}}
        </span>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="View">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-row="row">
        <span>
            <button class="btn btn-sm btn-primary"(click)="openModal(row.pid)">view</button>
        </span>
      </ng-template>
    </ngx-datatable-column>

  
  
  </ngx-datatable>
</div>

</div>

