<form [formGroup]="x" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" 
             class="form-control" 
             id="name" 
            formControlName="name"
           
             placeholder="Enter name">
      </div>

      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" 
               class="form-control" 
               id="email" 
               formControlName="email"
              
               placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="name">Phone Number</label>
            <input type="tel" 
                   class="form-control" 
                   id="phoneNumber" 
                   formControlName="phoneNumber"
                   placeholder="Enter PhoneNumber">
            </div>

            <div class="form-group">
                <label for="name">Country</label>
                <input type="text" 
                       class="form-control" 
                       id="country" 
                       formControlName="country"
                       
                       placeholder="Enter Country">
                </div>

                <div class="form-group">
                    <label for="name">Password</label>
                    <input type="password" 
                           class="form-control" 
                           id="Password" 
                      
                           formControlName="password"
                           placeholder="Enter password">
                    </div>
                    <div class="form-group">
                <input type="submit" class="form-control btn btn-primary" value="Register">
</div> 
</form>